<footer class="footer">
  <small>
    The <a href="http://www.gdgindore.in/">GDG Indore Ruby on Rails - II</a>
    by <a href="http://www.michaelhartl.com/">Varun Kothari</a>
  </small>
  <nav>
    <ul>     
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="www.codepunt.today">About Codepunt</a></li>
    </ul>
  </nav>
</footer>